<div class="principal">
  <form
  [formGroup]="form" 
  class="conboton">
      <div class="fila1">
          <button class="btnadicion" mat-button (click)="adicionMaterial()">+</button>
          <button 
          class="btneliminar" 
          mat-button 
          (click)="deleteAll()"
          >Eliminar todo</button>
      </div>
      <div class="containerprin">
        <div class="fila2" formArrayName="utilesEscolares">
          <div class="contenido1"  *ngFor="let s of utilesEscolares.controls; let i = index ">
              <div class="input" >
                  <p class="pinput">Utiles Escolares</p>
              <input 
              class="caja" 
              matInput  
              formControlName="n"
              #nombre
              >
              <small *ngIf="this.form.get('nombre')?.invalid">Solo se admiten letras</small>
              </div>
              <div class="click">
              <mat-checkbox class="example-margin" formControlName="chick">Aceptar</mat-checkbox>
              </div>
              <div class="btneliminar2">
                  <button 
                  class="btneliminar22" 
                  mat-button
                  (click)="deleteUtilEscolar(i)"
                  >Eliminar</button>
              </div>
          </div>
          
      </div>
      </div>
      <br>
      <div class="fila3">
          <button class="btnguardar" mat-button>Guardar</button>
          <button class="btnlimpiar" mat-button>Limpiar</button>
      </div>
    </form>
</div>