.principal{
  width: 100%;
 /*  background-color: aquamarine; */
  display: flex;
  justify-content: center;
}
.conboton{
  width: 50%;
 /*  background-color: black; */
  display: flex;
  flex-direction: column;
}
.fila1{
  height: 20%;
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* .fila2{
  height: 60%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

} */

.containerprin{
  display: flex;
  height: 60%;
  flex-direction: column  ;
}

.fila3{
  height: 20%;
  width: 100%;
 /*  background-color: antiquewhite; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btnadicion{
  background-color: rgb(25, 71, 223);
  color: white;
  border-radius: 6px;
  height: 40px;
  margin-top: 20px;
  font-size: 30px;
}
.btneliminar{
  border: 2px solid red;
  color: red;
  border-radius: 6px;
  height: 40px;
  margin-top: 20px;
}
.btnguardar{
  border: 2px solid green;
  color: green;
  border-radius: 6px;
  height: 40px;
}
.btnlimpiar{
  border: 2px rgb(50, 151, 202) solid;
  color: rgb(50, 151, 202);
  border-radius: 6px;
  height: 40px;
}
.contenido1{
  width: 70%;
  height: 50%;
  display: flex;
  border: 2px silver;
  border-style: dotted;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.btneliminar22{
  background-color: red;
  color: white;
  border-radius: 6px;
}
.caja{
  margin-bottom: 30px;
}