<form [formGroup]="form">
  <div class="container">
    <div>
     <label>Cantidad de Niveles: </label>
   
     <mat-form-field class="example-ripple-form-field" appearance="outline">
       <input 
       matInput  
       type="number" 
       placeholder="Radius"
       formControlName="cantNiveles"
       >
     </mat-form-field>
     <span class="example-spacer"></span>
       <button mat-raised-button color="primary">Agregar</button>
       <span class="example-spacer"></span>
    </div>
     <mat-form-field class="example-ripple-form-field" appearance="fill">
       <label>Cantidad de Repeticiones: </label>
       <input 
       matInput  
       type="number" 
       placeholder="Radius"
       formControlName="cantRepeticiones"
       >
     </mat-form-field>
   </div>
   
   <div>
     <mat-form-field class="example-full-width" appearance="fill">
       <mat-label>Valor 1</mat-label>
       <input 
       matInput
       formControlName="valor1"
       >
     </mat-form-field>
     <mat-form-field class="example-full-width" appearance="fill">
       <mat-label>Valor 2</mat-label>
       <input 
       matInput
       formControlName="valor2"
       >
     </mat-form-field>
   </div>
   
   <div>
     <mat-form-field class="example-full-width" appearance="fill">
       <mat-label>Valor 3</mat-label>
       <input 
       matInput
       formControlName="valor3"
       >
     </mat-form-field>
     <mat-form-field class="example-full-width" appearance="fill">
       <mat-label>Valor 4</mat-label>
       <input 
       matInput
       formControlName="valor4"
       >
     </mat-form-field>
   
     <div class="tree">
       <button mat-icon-button disabled></button>
     </div>
   </div>

   <div>
   </div>
</form>

